asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.1.2
Faker==30.6.0
idna==3.10
pillow==11.0.0
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
